*.pyc
__pycache__/
.venv/
venv/
env/
.idea/
.vscode/
.DS_Store
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
coverage.xml
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pyre/
.pytype/